.attribution 
    font-size: 11px
    text-align: center
    a 
        color: hsl(228, 45%, 44%)

* 
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-size: 15px

.container
    min-height: 100vh
    display: grid
    justify-items: center
    align-content: center
    background-color: hsl(233, 47%, 7%)

.card 
    display: grid
    grid-template-columns: 1fr .5fr
    background-color: white
    width: 65vw
    
.text
    padding: 90px
    display: grid

.title
    font-size: 3em
    font-family: 'Inter', sans-serif